.modal-wrapper {
  color: #fff;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 5% 95%;
  height: 80%;
  min-height: 40vh;
  max-height: 1080px;
  padding: 0 2rem;
  width: 90%;
  max-width: 90%;
  border-radius: 1rem;
  box-sizing: border-box;
}

.cancel-btn-wrapper {
  width: 100%;
  grid-column-start: 0;
  grid-column-end: 4;
  flex: end;
}

.tool-used {
  height: 20px;
  margin-right: 0.6rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-wrapper img{
  height: 80%;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-top: 1rem;
}

.portfolio-detail-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

@media only screen and (max-width: 1100px) {
  .modal-wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 40% 60%;
    grid-template-rows: 5% 95%; */
    height: 80%;
    min-height: 40vh;
    overflow-y: scroll;
    max-height: 1080px;
    padding: 0 2rem;
    width: 90%;
    max-width: 90%;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: left;
    align-items: flex-start;
  }


  .modal-wrapper h1{
text-align: left;
  }

  .dzn-with {
    display: none;
  }

  .cancel-btn-wrapper {
    margin-bottom: 2rem;
  }

  .image-wrapper {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    /* overflow: hidden; */
  }

  .image-wrapper img{
    width: 100%;
    height: auto;
    /* overflow: hidden; */
  }
}
