.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1820px;
  /* padding: 0 100px; */
  text-align: center;
}

.button-wrapper {
  height: 90vh;
  max-height: 90vh;
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons {
  height: 10vh;
  max-height: 10vh;
  min-height: 10vh;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  /* width: 100%; */
}

@media only screen and (max-width: 750px) {
  .contact-wrapper h1 {
    font-size: 26px;
  }
  .contact-wrapper button {
    left: 0;
  }
  .contact-wrapper a{
    left: 0;
  }
}
