html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0;
  right: 0;
  font-family: Helvetica Neue;
}

h1 {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Helvetica Neue;
}
